.table-header {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-row {
  background-color: #ffffff;
}

.table-cell {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.editable-cell {
  background-color: #241517;
  display: none;
}
